@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

@layer base {
	code {
		@apply bg-slate-800 rounded-md py-1 px-2 shadow-black shadow-sm tracking-[0.15rem];
		font-feature-settings: "zero";
		font-variant-numeric: slashed-zero;
	}
}

@layer components {
	.link {
		word-break: break-word;
		overflow-wrap: break-word;
		-ms-word-break: break-word;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
		-ms-hyphens: none;
		word-wrap: break-word;
		-ms-word-wrap: break-word;
	}
}

@media (min-height: 950px) {
	.tallChild {
		@apply xl:h-screen;
	}
	.tallGrandchild {
		@apply xl:flex xl:gap-6 xl:relative;
	}
	.tallParent {
		@apply xl:snap-y xl:snap-mandatory;
		height: 100vh;
		height: 100svh;
		scroll-padding-top: 4rem;
	}
	.tallAbsolute {
		@apply xl:absolute xl:bottom-4;
	}
	.tallRight {
		@apply xl:right-0;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	outline: none;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #fb7185;
	border-radius: 50%;
	cursor: pointer;
}
